@model int
<div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">
        <div class="card-body">
            <h5 class="card-title">Users <span>| Today</span></h5>

            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                    <h6>@Model</h6>

                    @if (ViewBag.Average > 0)
                    {
                        <span class="text-success small pt-1 fw-bold">@ViewBag.Average%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                    }
                    
                    @*<span class="text-success small pt-1 fw-bold">@ViewBag.Average%</span> <span class="text-muted small pt-2 ps-1">increase</span>*@
                </div>
            </div>
        </div>

    </div>
</div>
